@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* FOUC Prevention */
.page-loader {
    display: none;
}

html.loading {
    overflow: hidden;
}

html.loading .page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 9999;
}

html:not(.loading) .page-loader {
    display: none;
}

html:not(.loading) main {
    visibility: visible;
}

/* Existing styles */

/* resources/css/app.css */

.group:hover .group-hover\:block {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.group .group-hover\:block {
    display: none;
    position: absolute;
    top: 85%; /* Позиционирует выпадающее меню под вкладкой */
    left: 0;
    z-index: 10; /* Убедитесь, что выпадающее меню отображается поверх других элементов */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.group-hover\:block a:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении на пункт меню */
    border-radius: 0.375rem; /* Закругленные углы */
}
